:root {
    --van-primary-color: #ffe100 !important;
    --van-button-primary-color: #ffff !important;
    --van-button-primary-background-color: #1989fa !important;
    --van-button-primary-border-color: #1989fa !important;
}

.van-button--primary {
    color: var(--van-button-primary-color);
    background-color: var(--van-button-primary-background-color);
}

body {
    background: #f7f8fa;
    font-size:12px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}