:root {
    --van-primary-color: #ffe100 !important;
    --van-button-primary-color: #ffff !important;
    --van-button-primary-background-color: #1989fa !important;
    --van-button-primary-border-color: #1989fa !important;
}

body {
    background: #f7f8fa;
}